*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #232d3fd0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* .con {
  width: 60%;
} */
@media (max-width: 768px) {
  .con {
    width: 100%; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .con {
    width: 80%; 
  }
}


@media (min-width: 1025px) {
  .con {
    width: 60%;
  }
}

